/* Margen a los títulos */
#lbl_contacto{
    margin: 20px 20px; /* Márgenes superior e inferior */
    font-size: 40px;
}

/* Línea debajo de los títulos */
.lineacontacto {
  width: 16%; /* La línea comienza con un ancho de 0 */
  height: 3px; /* Altura de la línea */
  background-color: #e6683c;
  transition: width 1s ease-in-out; /* Animación suave de la línea */
  margin-top: 4px; /* Espacio entre el texto y la línea */
}

/* Animación al pasar el ratón */
#lbl_contacto:hover + .lineacontacto{
  width: 100%; /* La línea se expande al 100% de ancho */
}

.lineacontacto.expandida {
  width: 100%; /* La línea se expande al 100% de ancho */
}

/*ESTILO TARJETA WHATSAPP*/
.cardWhatsapp-cont{
  position: relative;
  width: 100%;
  min-width: 60%;
  max-width: 400px;
  height: 100%;
  display: flex;
  scale: 0.95;
  align-items: center;
  justify-content: center;
  font-family: 'Plus Jakarta Sans';
  transition: all 0.3s ease-in-out;
  perspective: 1500px;
  top: -25px;
}



.card-whats {
  position: relative;
  width: 360px;
  height: 300px;
  background: linear-gradient(145deg, #ffffff, #f0f0f0);
  border-radius: 48px;
  border: 2px solid #434443;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: all 0.3s ease;
  z-index: 10;
}


.main-cont-what {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* alineado a la izquierda */
  justify-content: flex-start;
  position: relative;
  padding: 10px 20px;
  gap: 10px;
}

.imgWhats {
  width: 40px;
  height: 40px;
  margin: 0 5px; /*Top-right-bottom-left*/
  justify-content: space-between;
  display: flex; 
}

.letraWhats {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  width: 80px;
   margin-left: 10%;
}


/* GLOW GENERAL */
.glow {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  pointer-events: none;
  filter: blur(50px);
  opacity: 0.6;
  z-index: 0;
}

.glow1 {
  top: -40px;
  right: -40px;
  background: radial-gradient(circle, #00ff62, transparent 70%);
}

.glow2 {
  bottom: -40px;
  left: -40px;
  background: radial-gradient(circle, #f6f4bb, transparent 70%);
}

.back-whats {
  position: absolute;
  bottom: 140px;
  min-width: 60%;
  max-width: 100%;
  height: 100px;
  background-color: #00bb2c;
  border-radius: 30px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 0.4s ease;
}


.cardWhatsapp-cont:hover .back-whats {
  transform: translateY(180px);
}

.userTag {
  position: absolute;
  justify-content: center;
  justify-self: center;
  font-weight: bold;
  font-size: 18px;
  color: #252525;
  margin-top: 16px;
}

.cont2-whats {
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.cuadroverde {
  width: 100%;
  height: 200px;
  background-color: #00bb2c;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}

.contentBox {
  width: 80%;
  padding: 10px;
  background-color: #252525;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  margin-bottom: -160px;
  
}

.contentBox p{
  text-align: center;
  margin-top: 10px;
  color: white;
}







/* Estilos tarjeta Instagram ------------------------------- */
.cardInst {
  position: relative;
  width: 100%;
  height: 350px;
  perspective: 1000px;
  border-radius: 16px;
}

.innerCardInst {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  border-radius: 16px;
  background: linear-gradient(145deg, #ffffff, #f0f0f0);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 2px 7px, 
  rgba(0, 0, 0, 0.7) 0px 7px 16px -3px, 
  rgba(0, 0, 0, 0.2) 0px -5px 0px inset;
}

.cardInst:hover .innerCardInst {
  transform: rotateY(180deg);
}

.frontInst, .backInst {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 16px;
}

.frontInst {
  background: linear-gradient(145deg, #ffffff, #f0f0f0);
}

.frontInstContent {
  background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
  width: 90%;
  height: 80%;
  backface-visibility: hidden;
  margin: 2px 5% 1px 5%; /*Top-right-bottom-left*/
  border-radius: 16px;
  z-index: 1;
}

.backInstContent {
  background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
  width: 90%;
  height: 80%;
  backface-visibility: hidden;
  margin: 2px 5% 1px 5%; /*Top-right-bottom-left*/
  border-radius: 16px;
  z-index: 1;
}

.backInst {
  background-color: #ffffff;
  transform: rotateY(180deg);
}

.imgInst {
  width: 40px;
  height: 40px;
  margin: 5px 10px 0 10px; /*Top-right-bottom-left*/
  justify-content: space-between;
  display: flex; 
}

.letraInst {
  width: 80px;
  height: auto;
  margin-left: 10%;
  margin-top: 0;
}



