/*SCROLL-BAR*/
::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-track{
  background-color: transparent;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb{
  background-color: #eb4d03;
  border-radius: 8px;
}


/*CONTENIDO - SECTIONS */
.wrapper,
.content {
  position: relative;
  width: 100%;
  z-index: 1;
}

.content .section {
  width: 100%;
  height: auto; /*Alto automatico dependiendo del contenido de cada section*/
}

.section {
  scroll-margin-top: 90px; /* Espacio de margen del scroll con respecto al header */
}

/*Contenido inicio para centar texto dentro de img*/
.content-inicio{
  position: relative;
  width: 100%; 
  height: auto;
  overflow: hidden;
}

.content-paquetes{
  position: relative;
  width: 100%; 
  height: auto;
}

.content-portafolio{
  position: relative;
  width: 100%; 
  height: auto;
}

.content-contacto{
  position: relative;
  width: 100%; 
  height: auto;
}

.clickGif {
  position: absolute; 
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 10; 
  pointer-events: none; 
  width: 60px; 
  height: auto; 
  animation: gifDesaparecer 4s ease-in forwards;
  /*mix-blend-mode: multiply; Combina con el fondo subyacente */
}

@keyframes gifDesaparecer{
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.9;
  }
  70% {
    opacity: 1; /* Totalmente visible */
  }
  100% {
    opacity: 0; /* Se desvanece */
  }
}



/*Titulo L&L Studios centrado*/
.content-inicio .titulo-LLstudios {
  position: absolute;
  top: 50%; /* Centrado verticalmente */
  left: 50%; /* Centrado horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta el punto de referencia al centro */
  /*color: #fff; /* Color del texto iluminado */
  z-index: 2; /* Asegura que el texto esté sobre la imagen */
}

/* Efecto de texto "Luz que se enciende y apaga" */
.titulo-LLstudios {
  font-family: "Poppins";
  font-weight: 900;
  font-style: normal;
  position: absolute;
  white-space: wrap; /* Evita el salto de línea */
  cursor: pointer;
  opacity: 0; 
  visibility: hidden;
  text-shadow: 2px 2px 4px rgba(31, 9, 9, 0.702);
}

.titulo-LLstudios.hidden{
  visibility: hidden;
}

.titulo-LLstudios.visible{
  visibility: visible;
}

.titulo-LLstudios.tituloAparicion{
  animation: tituloAparicion 2.5s ease-in-out forwards;
}

.titulo-LLstudios.lightEffect{
  color: #fff;
  animation: lightEffect 4s ease-in-out infinite;
}

@keyframes tituloAparicion{
  0%{
    stroke-dashoffset: 50;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(31, 9, 9, 0.702);
  }
  100%{
    color: #fff;
    stroke-dashoffset: 0;
    
  }
}

/* Animación para encender y apagar */
@keyframes lightEffect {
  0%, 100% {
    opacity: 0.3; /* Apagado (baja intensidad) */
    text-shadow: 0 0 5px #333, 0 0 10px #333; /* Sombra débil */
  }
  50% {
    opacity: 1; /* Encendido (alta intensidad) */
    text-shadow: 0 0 10px #fff, 0 0 20px #CB2D2D, 0 0 40px #CB2D2D, 
                 0 0 80px #CB2D2D, 0 0 100px #CB2D2D; /* Brillo máximo */
  }
}

.titulo-container {
  position: absolute;
  top: 50%; /* Centrado verticalmente */
  left: 50%; /* Centrado horizontalmente */
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 10px; /* Espaciado entre texto y círculos */
  z-index: 2;
}

/* Círculos */
.circles {
  animation: lightEffect 4s infinite; /* Animación infinita */
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 5px #fff, 0 0 10px #CB2D2D, 0 0 20px #CB2D2D, 
  0 0 40px #CB2D2D, 0 0 80px #CB2D2D; /* Efecto de brillo */
  transform: scale(0.5); /* Reducir el tamaño inicialmente */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Animación suave */
}

.left-circles {
  margin-right: 8em; /* Espaciado a la izquierda del título */
}

.right-circles {
  margin-left: 8em; /* Espaciado a la derecha del título */
}


/*Imagen modo claro-oscuro */
.themeImage {
  width: 100%; /*ancho competo del contenedor*/
  height: 100vh; /*alto completo del contenedor*/
  object-fit: cover;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}

.themeImage img{
  height: 100%;
}

/*Animaciones*/

.scale-up-bottom{animation:scale-up-bottom 0.8s; } 
@keyframes scale-up-bottom{
  0%{transform:scale(.5);transform-origin:center bottom}
  100%{transform:scale(1);transform-origin:center bottom}
}

  /* RESPONSIVO IMAGEN - SECTIONS*/

  /* PANTALLAS RESPONSIVAS */
    /* Teléfonos pequeños (320px - 374px) */
    @media (max-width: 374px) { 
      .titulo-LLstudios{
        font-size: 3.5rem;
        justify-content: center;
        text-wrap: pretty;
      }

      .left-circles {
        margin-right: 8em; /* Espaciado a la izquierda del título */
      }
      
      .right-circles {
        margin-left: 8em; /* Espaciado a la derecha del título */
      }


    }

    /* Teléfonos medianos (375px - 424px) */
    @media (min-width: 375px) and (max-width: 424px) { 
      .titulo-LLstudios{
        font-size: 3.8rem;
      }

      .left-circles {
        margin-right: 8.5em; /* Espaciado a la izquierda del título */
      }
      
      .right-circles {
        margin-left: 8.5em; /* Espaciado a la derecha del título */
      }
    }

    /* Teléfonos grandes (425px - 767px) */
    @media (min-width: 425px) and (max-width: 550px) { 
      .titulo-LLstudios{
        font-size: 4rem;
      }

      .left-circles {
        margin-right: 9em; /* Espaciado a la izquierda del título */
      }
      
      .right-circles {
        margin-left: 9em; /* Espaciado a la derecha del título */
      }
    }

    /* Mini tables (551px - 720px) */
    @media (min-width: 551px) and (max-width: 729px) { 
      .titulo-LLstudios{
        font-size: 4.5rem;
      }

      .left-circles {
        margin-right: 12em; /* Espaciado a la izquierda del título */
      }
      
      .right-circles {
        margin-left: 12em; /* Espaciado a la derecha del título */
      }
   
    }

    /* Tablets (730px - 1024px) */
    @media (min-width: 730px) and (max-width: 1024px) { 
      .titulo-LLstudios{
        font-size: 5rem;
        white-space: nowrap; /* Evita el salto de línea */
      }

      .left-circles {
        margin-right: 17em; /* Espaciado a la izquierda del título */
      }
      
      .right-circles {
        margin-left: 17em; /* Espaciado a la derecha del título */
      }
    }

    /* Laptops (1025px - 1920px) */
    @media (min-width: 1025px) and (max-width: 1920px) { 
      .titulo-LLstudios{
        font-size: 5.5rem;
        white-space: nowrap; /* Evita el salto de línea */
      }

      .circle {
        width: calc(0.3 * 5.5rem);
        height: calc(0.3 * 5.5rem);
      }

      .left-circles {
        margin-right: 18em; /* Espaciado a la izquierda del título */
      }
      
      .right-circles {
        margin-left: 18em; /* Espaciado a la derecha del título */
      }
    }

    /* Pantallas 4K (1921px y más) */
    @media (min-width: 1921px) { 
      .titulo-LLstudios{
        font-size: 9rem;
        flex-wrap: nowrap; /* Evita que los elementos salten de línea */
      }

      .circles {
        width: calc(0.3 * 8rem);
        height: calc(0.3 * 8rem);
      }

      .left-circles {
        margin-right: 20em; /* Espaciado a la izquierda del título */
      }
      
      .right-circles {
        margin-left: 20em; /* Espaciado a la derecha del título */
      }

    }
