/*Paleta de colores */
/*  White - Rojo principal #CB2D2D -  Negro #252525
    Rojo complementario #BA3C3C - Gris #414141 */
    * {
      /*outline: 1px solid green;*/
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
     /*Utilidades del root para con modo claro-oscuro */
    :root{
      --background-light: #e0e0e0; /*Fondo claro white*/
      --background-dark: #252525; /*Fondo oscuro*/
      --background-blur-light: #e0e0e0b8; /*Fondo claro white con blur*/
      --background-blur-dark: #252525b8; /*Fondo oscuro con blur*/
      --text-light: #414141;
      --text-dark: #ffffff;
      --t: 2000ms;
    }
    
    /*Cuerpo de la pagina*/
    body {
      font-family: 'Poppins';
      transition: background-color 0.3s ease, color 0.3s ease;
      background-color: var(--background-light) no-repeat fixed 100% 100%; ;
      color: var(--text-light);
      background-size: cover;
      overflow-x: hidden; /* Oculta el desplazamiento horizontal */
    }
    
    /*Modo oscuro para el cuerpo*/
    body.dark-mode {
      background-color: var(--background-dark);
      color: var(--text-dark);
    }
    
    body.light-mode{
      background-color: var(--background-light);
      color: var(--text-light);
    }
    
    .background-switch {
      text-align: center;
      top: 0;
      margin-top: 0;
    }
    
    /* Header - Navbar */
    header {
      background: transparent;
      position: sticky;
      display: flex;
      justify-content: space-between;
      align-items: center;
      top: 0;
      left: 0 !important;
      right: 0 !important;
      z-index: 10;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
    }

    /* Fondo con efecto blur */
    .fondo-header {
      position: absolute; /* Se posiciona sobre el contenedor padre */
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; /* Se coloca detrás del contenido del header */
      backdrop-filter: blur(10px); /* Aplica el efecto de desenfoque */
      background: var(--background-light); /*Fondo claro con blur-modo claro*/
      /*background: var(--background-blur-light); Fondo claro con blur-modo claro*/
      pointer-events: none; /* Evita que interfiera con clics o interacciones */
    }

    body.dark-mode .fondo-header{ 
      background: var(--background-dark); /*fondo oscuro del header-modo oscuro*/
      /*background: var(--background-blur-dark); fondo oscuro del header-modo oscuro*/
    }

    .logo {
      margin-top: 10px;
    }
    
    .menu {
      justify-items: center;
      display: flex;
    }
    
    .menu a {
      clear: right;
      text-decoration: none;
      color: var(--background-dark);
      margin-left: 20px;
      line-height: 30px;
      letter-spacing: 0.9px;
      text-transform: uppercase;
      transition: all 250ms ease;
    }

    /* Navbar básico */
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      right: 0;
      left: 0;
    }
    
    /*Navbar links-menu */
    .navbar-links {
      display: inline-block;
      align-items: center;
      gap: 20px;
      padding: 0;
    }

    /* Estilo base de los enlaces */
    .navbar-links a {
      position: relative; /* Necesario para posicionar el pseudo-elemento */
      text-decoration: none; /* Elimina el subrayado predeterminado */
      color: inherit; /* Usa el color definido para el texto */
    }

    .navbar-links a::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px; /* Ajusta la línea para que quede debajo del texto */
      width: 0;
      height: 2px; /* Grosor del subrayado */
      background-color: #CB2D2D;
      transition: width 0.3s ease; 
    }

    /* Animación al pasar el cursor */
    .navbar-links a:hover::after {
      width: 100%; /* Expande el subrayado a todo el ancho del enlace */
    }

    .navbar-links a:hover {
      color: #CB2D2D; /* Opcional: cambia el color del texto al pasar el cursor */
    }
    
    body.dark-mode .navbar a {
      color: var(--text-dark);
      text-decoration: none;
      font-size: 16px;
    }
    
    .navbar .switch {
      margin-left: 20px;
    }
    
    /* Estilos del botón toggle (Ocultado por defecto en pantallas grandes) */
    .navbar-toggler {
      gap: 10px;
      display: none;
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
    }
    
    /* Enlaces del navbar */
    .navbar-links {
      display: flex; /* Visible por defecto en pantallas grandes */
      
    }    
    
    /* Navbar Responsivo */
    @media (max-width: 768px) {
      /* Ocultar enlaces inicialmente en modo responsivo */
      .navbar-links {
        display: none; /* Inicialmente oculto */
        flex-direction: column;
        position: absolute;
        top: 68px;
        right: 0;
        left: 0;
        border-radius: 0 0 5px 5px;
        padding: 10px 0;
        gap: 10px;
        z-index: 100;
        background-color: var(--background-blur-light); /*Modo claro*/
        backdrop-filter: blur(8px); /* Aplica el efecto de desenfoque */
      }
      body.dark-mode .navbar-links{
        background-color: var(--background-blur-dark); /*Modo oscuro*/
      }
    
      /* Mostrar el botón toggle en modo responsivo */
      .navbar-toggler {
        display: block; /* Visible en pantallas pequeñas */
        color: var(--text-light); /*Modo claro-letra oscura*/
        margin-left: 20px;
      }
    
      body.dark-mode .navbar-toggler{
        color: var(--text-dark); /*Modo oscuro-letra clara*/
    
      }
    
      /* Estilo del menú activado */
      .navbar-links.active {
        display: flex; /* Muestra el menú cuando se activa */
      }
    }
    
    /*-----SWITCH MODO CLARO-OSCURO -----*/
    /* The switch - the box around the slider */
    .switch {
      right: 0;
      margin-right: 20px;
      margin-top: 15px;
      padding: 8px 30px; /*tamaño*/
      /* size of sliding icon -- sun and moon */
      --size-of-icon: 1.4em;
      /* it is like a inline-padding of switch */
      --slider-offset: 0.3em;
      position: absolute;
      width: var(--width-of-switch);
      height: var(--height-of-switch);
    }
    
    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #f1e8e8;
      transition: .4s;
      border-radius: 30px;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: var(--size-of-icon,1.4em);
      width: var(--size-of-icon,1.4em);
      border-radius: 20px;
      left: var(--slider-offset,0.3em);
      top: 50%;
      transform: translateY(-50%);
      background: linear-gradient(40deg,#ff8c00,#CB2D2D 70%);
      transition: .4s;
    }
    
    input:checked + .slider {
      background-color: #303136;
    }
    
    input:checked + .slider:before {
      left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
      background: #303136;
      /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
      box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
    }

    /*IMAGEN PRINCIPAL-ZOOM*/
    /*Imagen principal(circulo sin fondo)*/
    .image-container {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
      overflow: hidden;
    }
        
    .image-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      transition: transform 1s ease; /* Transición suave para el zoom */
    }
    
    /* Efecto de zoom */
    .wrapper.zoomed .image-container img {
      transform: scale(6); /* Aumenta el zoom */
    }

    /*FOOTER*/
    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: linear-gradient(90deg, #CB2D2D, #BA3C3C );
      color: #fff;
      font-family: 'Poppins';
    }
    
    .logo-container {
      align-self: flex-start;
      
    }

    .logoarea{
      width: 35%;
      text-align: left;
    }

    .services, .area{
      width: 8%;
    }

    .logoFooter{
      margin: 0 auto;
      margin-bottom: 1vw;
      filter: brightness(100);
      display: block;
    }

    .nosotros {
      padding: 6px;
      font-size: 1.1em;
      line-height: 1.5;
    }

     /* Línea divisoria (vertical en computadora) */
    .lineafooter {
      width: 3px; /* Ancho de la línea */
      height: 250px; /* Altura ajustable */
      background-color: white; /* Color de la línea */
      margin: 0 20px; /* Espaciado horizontal */
      margin-top: 6px;
    }
    
    .ListFooter {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      width: 100%;
      margin: 20px 0;
    }
    
    .ListFooter ul {
      list-style: none;
      padding: 0;
    }
    
    .ListFooter h2 {
      margin-bottom: 3.5vw;
      font-size: 1.2em;
    }

    .ListFooter li {
      margin-bottom: 2vw;
    }

    .area-copy{
      padding: 25px 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: #252525;

    }
    
    .copyFooter {
      text-align: center;
      font-size: 0.9em;
      margin-top: 10px;
    }

 /* Estilo responsive */
@media (max-width: 768px) {
  .ListFooter {
    flex-direction: column;
    align-items: center;
  }

  .logoarea {
    width: 100%; /* Ocupa todo el ancho */
    text-align: center;
    margin-bottom: 20px;
  }

  .ListFooter ul {
    text-align: center;
    margin-bottom: 20px;
  }

  .lineafooter {
    width: 100%; /* Línea horizontal */
    height: 2px; /* Altura ajustada */
    margin: 10px 0; /* Espaciado vertical */
  }

  .services, .area{
    width: 20%;
  }
}

