/* Margen a los títulos */
#lbl_contacto{
    margin: 20px 20px; /* Márgenes superior e inferior */
    font-size: 40px;
}

/* Línea debajo de los títulos */
.lineacontacto {
  width: 16%; /* La línea comienza con un ancho de 0 */
  height: 3px; /* Altura de la línea */
  background-color: #e6683c;
  transition: width 1s ease-in-out; /* Animación suave de la línea */
  margin-top: 4px; /* Espacio entre el texto y la línea */
}

/* Animación al pasar el ratón */
#lbl_contacto:hover + .lineacontacto{
  width: 100%; /* La línea se expande al 100% de ancho */
}

.lineacontacto.expandida {
  width: 100%; /* La línea se expande al 100% de ancho */
}

/*ESTILO TARJETA WHATSAPP*/
.cardWhatsapp-cont{
  position: relative;
  width: 100%;
  min-width: 270px;
  max-width: 400px;
  height: 100%;
  display: flex;
  scale: 0.95;
  align-items: center;
  justify-content: center;
  font-family: 'Plus Jakarta Sans';
  transition: all 0.3s ease-in-out;
  perspective: 1500px;
  top: -25px;
}

.card-whats {
  position: relative;
  width: 380px;
  height: 320px;
  background: linear-gradient(145deg, #ffffff, #f0f0f0);
  border-radius: 48px;
  border: 2px solid #434443;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: all 0.3s ease;
  z-index: 10;
}


.main-cont-what {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* alineado a la izquierda */
  justify-content: flex-start;
  position: relative;
  padding: 10px 20px;
  gap: 10px;
}

.imgWhats {
  width: 40px;
  height: 40px;
  margin: 0 5px; /*Top-right-bottom-left*/
  justify-content: space-between;
  display: flex; 
}

.letraWhats {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  width: 80px;
   margin-left: 10%;
}

/* GLOW GENERAL */
.glow {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  pointer-events: none;
  filter: blur(50px);
  opacity: 0.6;
  z-index: 0;
}

.glow1 {
  top: -40px;
  right: -40px;
  background: radial-gradient(circle, #00ff62, transparent 70%);
}

.glow2 {
  bottom: -40px;
  left: -40px;
  background: radial-gradient(circle, #f6f4bb, transparent 70%);
}

.back-whats {
  position: absolute;
  bottom: 110px;
  min-width: 60%;
  max-width: 100%;
  height: 100px;
  background-color: #00bb2c;
  border-radius: 30px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 0.4s ease;
}


.cardWhatsapp-cont:hover .back-whats {
  transform: translateY(180px);
}

.userTag {
  position: absolute;
  justify-content: center;
  justify-self: center;
  font-weight: bold;
  font-size: 18px;
  color: #252525;
  margin-top: 16px;
  text-decoration: none;
}

.cont2-whats {
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.cuadroverde {
  width: 100%;
  height: 200px;
  background-color: #00bb2c;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}

.contentBox {
  width: 80%;
  padding: 10px;
  background-color: #252525;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  margin-bottom: -160px;
  
}

.contentBox p{
  text-align: center;
  margin-top: 10px;
  color: white;
}

/* ----                                      ----*/
/*ESTILO TARJETA INSTAGRAM*/
.cardInstagram-cont{
  position: relative;
  width: 100%;
  min-width: 270px;
  max-width: 400px;
  height: 100%;
  display: flex;
  scale: 0.95;
  align-items: center;
  justify-content: center;
  font-family: 'Plus Jakarta Sans';
  transition: all 0.3s ease-in-out;
  perspective: 1500px;
  top: -25px;
}

.card-inst {
  position: relative;
  width: 380px;
  height: 320px;
  background: linear-gradient(145deg, #ffffff, #f0f0f0);
  border-radius: 48px;
  border: 2px solid #434443;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: all 0.3s ease;
  z-index: 10;
}


.main-cont-inst {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* alineado a la izquierda */
  justify-content: flex-start;
  position: relative;
  padding: 10px 20px;
  gap: 10px;
}

.imgInst {
  width: 40px;
  height: 40px;
  margin: 0 5px; /*Top-right-bottom-left*/
  justify-content: space-between;
  display: flex; 
}

.letraInst {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  width: 80px;
   margin-left: 10%;
}

/* GLOW GENERAL */
.glow_ {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  pointer-events: none;
  filter: blur(50px);
  opacity: 0.6;
  z-index: 0;
}

.glow1_ {
  top: -40px;
  right: -40px;
  background: radial-gradient(circle, #dc2743, #cc2366, transparent 70%);
}

.glow2_ {
  bottom: -40px;
  left: -40px;
  background: radial-gradient(circle, #f09433, transparent 70%);
}

.back-inst {
  position: absolute;
  bottom: 110px;
  min-width: 60%;
  max-width: 100%;
  height: 100px;
  background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
  border-radius: 30px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 0.4s ease;
}

.cardInstagram-cont:hover .back-inst {
  transform: translateY(180px);
}

.cont2-inst {
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.cuadroinst {
  width: 100%;
  height: 200px;
  background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}

.contentBox_ {
  width: 80%;
  padding: 10px;
  background-color: #252525;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  margin-bottom: -160px;
  
}

.contentBox_ p{
  text-align: center;
  margin-top: 10px;
  color: white;
}

@media screen and (max-width: 768px) {

  .cardWhatsapp-cont, .cardInstagram-cont{
    margin-bottom: 60px;
  }

  .back-whats, .back-inst {
    bottom: 140px; /* Ajusta la posición de la tarjeta hacia arriba */
  }


  
}

